1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [2]:
# question number 1 a
    
for i in range(1,100):
    if(i%3!=0 and i%5!=0 and i%15!=0):
        print(str(i))
    if(i%3==0 and i%5!=0 and i%15!=0):
        print("Hello")
    if(i%5==0 and i%15!=0 and i%3!=0):
        print("World")
    if(i%15==0):
        print("Hello World")

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
Hello World
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
Hello World
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
Hello World
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
Hello World
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
Hello World
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
Hello World
91
92
Hello
94
World
Hello
97
98
Hello

In [6]:
# question number 1 part b 
t1=()
l1=[]
for i in range(1,101):
    if(i%3!=0 and i%5!=0 and i%15!=0):
        t1 = t1 + (i,)
    if(i%3==0 and i%5!=0 and i%15!=0):
        t1 = t1 + ("HELLO",)
    if(i%5==0 and i%15!=0 and i%3!=0):
        t1 = t1 + ("WORLD",)
    if(i%15==0):
        t1 = t1 + ("HELLO WORLD",)
l1=list(t1)
for j in range(0,len(t1)):
    if l1[j]=="HELLO":
        l1[j]="PYTHON"
    if l1[j]=="WORLD":
        l1[j]="WORKS"
    if l1[j]=="HELLO WORLD":
        l1[j]="PYTHON WORKS"
       
t1=tuple(l1)
print(t1)

(1, 2, 'PYTHON', 4, 'WORKS', 'PYTHON', 7, 8, 'PYTHON', 'WORKS', 11, 'PYTHON', 13, 14, 'PYTHON WORKS', 16, 17, 'PYTHON', 19, 'WORKS', 'PYTHON', 22, 23, 'PYTHON', 'WORKS', 26, 'PYTHON', 28, 29, 'PYTHON WORKS', 31, 32, 'PYTHON', 34, 'WORKS', 'PYTHON', 37, 38, 'PYTHON', 'WORKS', 41, 'PYTHON', 43, 44, 'PYTHON WORKS', 46, 47, 'PYTHON', 49, 'WORKS', 'PYTHON', 52, 53, 'PYTHON', 'WORKS', 56, 'PYTHON', 58, 59, 'PYTHON WORKS', 61, 62, 'PYTHON', 64, 'WORKS', 'PYTHON', 67, 68, 'PYTHON', 'WORKS', 71, 'PYTHON', 73, 74, 'PYTHON WORKS', 76, 77, 'PYTHON', 79, 'WORKS', 'PYTHON', 82, 83, 'PYTHON', 'WORKS', 86, 'PYTHON', 88, 89, 'PYTHON WORKS', 91, 92, 'PYTHON', 94, 'WORKS', 'PYTHON', 97, 98, 'PYTHON', 'WORKS')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [7]:
def function(a,b):
    a,b=b,a
    return a,b
print(function(2,5))

(5, 2)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [ ]:
import math
def function(v,u):
    a=abs(int(v[1])-int(u[1]))
    b=abs(int(v[0])-int(u[0]))
    return math.sqrt((a**2)+(b**2))
v=(input("type first eleman of v"),input("type second eleman of v"))
u=(input("type first eleman of u"),input("type second eleman of u"))
print(function(v,u))

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [2]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

In [ ]:
liste=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','.']
liste2=[]
string=s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print HELLO WORLD"
string=string.upper()
chracters=[x for x in string]
for i in range (0,len(liste)):
    count=0
    for j in range(0,len(chracters)):
        if(str(liste[i])==str(chracters[j])):
            count+=1
        if(j==len(chracters)-1 and count!=0):
            print(str(liste[i]),count)

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [5]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [ ]:
# Write a function that determines and count the unique numbers in the list
unique_list = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
     85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
     1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
     45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

my_list=[8,15,7,1,4,9,6,7,25,78,96,56,356,47,62]

found_in_unique_list = []
def unique_numbers(unique_list):
    for i in range(len(my_list)):
        for j in range(len(unique_list)):
            if int(my_list[i]) == int(unique_list[j]):
                found_in_unique_list.append(int(unique_list[j]))
        j=0
    i=0        
    for i in range(len(found_in_unique_list)):
        print(found_in_unique_list[i])
    print("Number of unique numbers:" , len(found_in_unique_list))
   
print("Unique numbers in list:")
unique_numbers(unique_list)

Do the same without using user-defined functions, but exploiting only the Python data structures.

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [ ]:
a=input("input number")
def function2(a):
    return a**2
def function3(a):
    return a**3
def function6(a):
    return int(function2(a)*function3(a)*(function2(a)/a))
function2(int(a))
function3(int(a))
print(function6(int(a)))

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [ ]:
# A FOR LOOP
liste=[]
for x in range(0,10):
    liste.append(x**3);
for i in range(0,10):
    print(liste[i])

In [ ]:
# B LIST OF COMPREHENSION
liste=[(i**3)for i in range(0,10)]
print(liste

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [ ]:
for a in range(0,100):
    for b in range(0,100):
        for c in range(0,100):
            if (int(c**2)==(int(a**2)+int(b**2))and int(a)!=0 and int(b)!=0 and int(c)!=0):
                print("a="+str(a),"b="+str(b),"c="+str(c))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [1]:
for i in range(1,100):
    if(i%3!=0 and i%5!=0 and i%15!=0):
        print(str(i))
    if(i%3==0 and i%5!=0 and i%15!=0):
        print("Helloo")
    if(i%5==0 and i%15!=0 and i%3!=0):
        print("World")
    if(i%15==0):
        print("Helloworld")

1
2
Helloo
4
World
Helloo
7
8
Helloo
World
11
Helloo
13
14
Helloworld
16
17
Helloo
19
World
Helloo
22
23
Helloo
World
26
Helloo
28
29
Helloworld
31
32
Helloo
34
World
Helloo
37
38
Helloo
World
41
Helloo
43
44
Helloworld
46
47
Helloo
49
World
Helloo
52
53
Helloo
World
56
Helloo
58
59
Helloworld
61
62
Helloo
64
World
Helloo
67
68
Helloo
World
71
Helloo
73
74
Helloworld
76
77
Helloo
79
World
Helloo
82
83
Helloo
World
86
Helloo
88
89
Helloworld
91
92
Helloo
94
World
Helloo
97
98
Helloo

In [ ]:

t1=()
l1=[]
for i in range(1,101):
    if(i%3!=0 and i%5!=0 and i%15!=0):
        t1 = t1 + (i,)
    if(i%3==0 and i%5!=0 and i%15!=0):
        t1 = t1 + ("Micky",)
    if(i%5==0 and i%15!=0 and i%3!=0):
        t1 = t1 + ("Mouse",)
    if(i%15==0):
        t1 = t1 + ("MickyMouse",)
l1=list(t1)
for j in range(0,len(t1)):
    if l1[j]=="Micky":
        l1[j]="Donald"
    if l1[j]=="Mouse":
        l1[j]="Duck"
    if l1[j]=="MickyMouse":
        l1[j]="DonaldDuck"
       
t1=tuple(l1)
print(t1)

In [2]:
t1=()
l1=[]
for i in range(1,101):
    if(i%3!=0 and i%5!=0 and i%15!=0):
        t1 = t1 + (i,)
    if(i%3==0 and i%5!=0 and i%15!=0):
        t1 = t1 + ("Hello",)
    if(i%5==0 and i%15!=0 and i%3!=0):
        t1 = t1 + ("World",)
    if(i%15==0):
        t1 = t1 + ("HelloWorld",)
l1=list(t1)
for j in range(0,len(t1)):
    if l1[j]=="Hello":
        l1[j]="Python"
    if l1[j]=="World":
        l1[j]="Works"
    if l1[j]=="HelloWorld":
        l1[j]="PythonWorks"
       
t1=tuple(l1)
print(t1)

(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'PythonWorks', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'PythonWorks', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'PythonWorks', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'PythonWorks', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'PythonWorks', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'PythonWorks', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')